.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* OUR CSS */
#main{
background-image: url(./images/spanner.jpg);
background-position: center;
background-size: cover;
padding-bottom: 300px;
}
.first h1 {
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
    font-weight: 900;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

.first p {
word-spacing: -3px;
font-size: 20px;
text-align: center !important;
padding-left: 300px;
color: #f1f1f1;
font-weight: 700 !important;
width: auto;
display: inline-block;
overflow: hidden;
border-right: .15em solid white;
white-space: nowrap;
margin: 0 auto;
letter-spacing: .15em;
animation: typing 5s steps(100, end),
			 blink-caret .75s step-end infinite;
}

@keyframes typing{
  from {max-width: 0}
  to {max-width: 90%}
}

@keyframes blink-caret{
  from, to {border-color: transparent}
  50% {border-color: #0492c2}
}

#mySidebar img{
border-radius: 100px;
width: 150px;
height: 150px;
margin-left: 45px;
margin-bottom: 40px;
}

.icons {
padding-left: 30px; 
padding-top: 80px;
color: white;
}

.services {
text-align: center;
font-size: 20px;
font-weight: 500;
padding-top: 25px;
padding-bottom: 150px;
background-color: #52b2bf;
}
.about {
text-align: center;
font-size: 20px;
font-weight: 500;
padding-top: 25px;
padding-bottom: 150px;
background-color: whitesmoke;
}
.about img {
border-style: solid;
border-radius: 100px;
border-color: #0492c2;
}

.contact {
text-align: center;
font-size: 20px;
font-weight: 500;
padding-top: 25px;
background-color: gray;
color: white;
}
.intro-copy {
  padding: 1em;
  margin: 50vh auto;
  max-width: 15em;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
}

.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: .25em;
  width: 40px;
  height: 40px;
  background-color: #F8F8F8;
  
  &.show {
    visibility: visible;
    opacity: 1;
  }
  
  &.hide {
    visibility: hidden;
    opacity: 0;
  }

  svg {
    fill: #000;
    width: 5px;
    height: 5px;
  }

  &:hover {
    background-color: #E8E8E8;

    svg {
      fill: #000000;
    }
  }
}

// Text meant only for screen readers.
.screen-reader-text {
  position: absolute;
  clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);

  &:focus {
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000; // Above WP toolbar
    clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: #444;
    font-size: 1em;
    clip: auto !important;
  }
}

/*media Queries*/

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}

 .about img {
 width: 320px;
 }
}
@media screen and (max-height: 320px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}

 .about img {
 width: 250px;
 height: 250px;
 }
}
